# Format for tag conversion (all items in tag `namespace:tag/name` will be converted to destination item `modid:item`):
# namespace:tag/name=modid:item
# Format for direct item conversion (the item `modid:sourceitem` will be converted to `modid:destitem`):
# modid:sourceitem>modid:destitem

forge:ores/lead=eidolon:lead_ore
forge:nuggets/netherite=charm:netherite_nugget

forge:ores/lead=eidolon:lead_ore
forge:ingots/lead=eidolon:lead_ingot
forge:storage_blocks/lead=eidolon:lead_block
forge:nuggets/lead=eidolon:lead_nugget

# forge:ores/copper=create:copper_ore
forge:ingots/copper=create:copper_ingot
forge:storage_blocks/copper=create:copper_block
forge:nuggets/copper=create:copper_nugget
